@using EHWaterQuality.ViewModels
@model EcoliDataUploadViewModel
@{
    ViewBag.Title = "Upload Ecoli Data";
}

<!-- BEGIN PAGE CONTENT -->
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/themes/base/datepicker.css" rel="stylesheet" type="text/css" />
    <title></title>
</head>
<body>
    @using (Html.BeginForm("EcoliDataUpload", "User", FormMethod.Post, new { encType = "multipart/form-data", name = "myform" }))
    {
        @Html.ValidationSummary(true)
        <div class="form-body">
            <div class="form-group">
                <div class="row">
                    <label class="control-label col-md-3"><span class="required">* </span>Ecoli Request Group</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(m => m.SelectedEcoliTestType, Model.EcoliTestTypes, new { id = "testDD" })
                        <span style="color:red">@Html.ValidationMessageFor(model => model.SelectedEcoliTestType)</span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <label><span class="required">* </span>Choose a File to Upload (file format Excel 2007 or greater)</label>
                        <!--<input type="file" class="btn blue" name="fileUpload" />-->
                        @Html.TextBoxFor(m => m.File, new { type = "file" })
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <input type="submit" class="btn blue" value="Preview" />
                    </div>
                </div>
            </div>
        </div>
    }
    @section PageLevelScripts {
        <script>

        </script>
    }
</body>
</html>
<!-- END PAGE CONTENT -->
