@{
    ViewBag.Title = "Delete Results Confirmation";
}

<!-- BEGIN PAGE CONTENT -->
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/themes/base/datepicker.css" rel="stylesheet" type="text/css" />
    <title></title>
</head>
<body>
    <div class="form-body">
        <div class="form-group">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="row">
                        <h2 style="color:green">     All selected results have been successfully deleted.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<!-- BEGIN PAGE CONTENT -->
