@{
    ViewBag.Title = "Reports";
}

<!-- BEGIN PAGE CONTENT -->
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <p><a href="javascript: void(0);" data-target=".ssrs-modal-lg" data-modal="true" data-remote="true" data-same-origin="false" data-location-href="{Ssrs.WebService.Url}{Ssrs.Report.Path}Beach_Operator" data-token="true">Beach Operator Report</a></p>
    <p><a href="javascript: void(0);" data-target=".ssrs-modal-lg" data-modal="true" data-remote="true" data-same-origin="false" data-location-href="{Ssrs.WebService.Url}{Ssrs.Report.Path}Beach_Single_Location" data-token="true">Beach Single Location Report</a></p>
    <p><a href="javascript: void(0);" data-target=".ssrs-modal-lg" data-modal="true" data-remote="true" data-same-origin="false" data-location-href="{Ssrs.WebService.Url}{Ssrs.Report.Path}Beach_Summary" data-token="true">Beach Summary Report</a></p>
    <p><a href="javascript: void(0);" data-target=".ssrs-modal-lg" data-modal="true" data-remote="true" data-same-origin="false" data-location-href="{Ssrs.WebService.Url}{Ssrs.Report.Path}Custom_Report_Group" data-token="true">Custom Report Group Report</a></p>
    <p><a href="javascript: void(0);" data-target=".ssrs-modal-lg" data-modal="true" data-remote="true" data-same-origin="false" data-location-href="{Ssrs.WebService.Url}{Ssrs.Report.Path}Custom_Report_Multiselect" data-token="true">Custom Report Multiselect Report</a></p>
    <p><a href="javascript: void(0);" data-target=".ssrs-modal-lg" data-modal="true" data-remote="true" data-same-origin="false" data-location-href="{Ssrs.WebService.Url}{Ssrs.Report.Path}Custom_Report_Single" data-token="true">Custom Report Single Report</a></p>
    <p><a href="javascript: void(0);" data-target=".ssrs-modal-lg" data-modal="true" data-remote="true" data-same-origin="false" data-location-href="{Ssrs.WebService.Url}{Ssrs.Report.Path}Sewer_Over_Flow" data-token="true">Sewer Over Flow Report</a></p>
    <p><a href="javascript: void(0);" data-target=".ssrs-modal-lg" data-modal="true" data-remote="true" data-same-origin="false" data-location-href="{Ssrs.WebService.Url}{Ssrs.Report.Path}WaterShed_Monthly_Geo_Mean" data-token="true">WaterShed Monthly Geo Mean Report</a></p>
    <p><a href="javascript: void(0);" data-target=".ssrs-modal-lg" data-modal="true" data-remote="true" data-same-origin="false" data-location-href="{Ssrs.WebService.Url}{Ssrs.Report.Path}WaterShed_Print_Yearly_Mean" data-token="true">WaterShed Print Yearly Mean Report</a></p>
    <p><a href="javascript: void(0);" data-target=".ssrs-modal-lg" data-modal="true" data-remote="true" data-same-origin="false" data-location-href="{Ssrs.WebService.Url}{Ssrs.Report.Path}WaterShed_Sample_Not_Taken" data-token="true">WaterShed Sample Not Taken Report</a></p>
    <p><a href="javascript: void(0);" data-target=".ssrs-modal-lg" data-modal="true" data-remote="true" data-same-origin="false" data-location-href="{Ssrs.WebService.Url}{Ssrs.Report.Path}WaterShed_Single_Station" data-token="true">WaterShed Single Station Report</a></p>
    <p><a href="javascript: void(0);" data-target=".ssrs-modal-lg" data-modal="true" data-remote="true" data-same-origin="false" data-location-href="{Ssrs.WebService.Url}{Ssrs.Report.Path}WaterShed_Summary" data-token="true">WaterShed Summary Report</a></p>
    <p><a href="javascript: void(0);" data-target=".ssrs-modal-lg" data-modal="true" data-remote="true" data-same-origin="false" data-location-href="{Ssrs.WebService.Url}{Ssrs.Report.Path}WaterShed_Yearly_Geo_Mean" data-token="true">WaterShed Yearly Geo Mean Report</a></p>
    <p><a href="javascript: void(0);" data-target=".ssrs-modal-lg" data-modal="true" data-remote="true" data-same-origin="false" data-location-href="{Ssrs.WebService.Url}{Ssrs.Report.Path}Weather_PPT" data-token="true">Weather PPT Report</a></p>
    <p><a href="javascript: void(0);" data-target=".ssrs-modal-lg" data-modal="true" data-remote="true" data-same-origin="false" data-location-href="{Ssrs.WebService.Url}{Ssrs.Report.Path}Weather_Wind_Air_Temp" data-token="true">Weather Wind Air Temp Report</a></p>
    <div class="modal fade ssrs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="width: 90%;">
            <div class="modal-content">
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
</body>
</html>
<!-- END PAGE CONTENT -->
